{% extends "base.html" %}
{% block title %}Profile update{%endblock%}
{% block content %}
    <div class="container-fluid">
        <div class="row bg-dark text-white">
            <h1 class="text-center">Profile update</h1>
        </div>
        <div class="row">
            <div class="col-md-5 bg-dark mt-0 mx-auto">
                
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form%}
                        
                        <p class="text-warning">{{field.label}}:</p>
                        {{field}}
                        
                        
                        {%endfor%}
                        <br>
                        <button type="submit" class="btn btn-warning mt-3">Update info</button>                   
                    </form>
                </div>
            
                
            </div>
        </div>
    </div>
{% endblock %}