{% extends "base.html"%}

{% block title%}Money spent this year{%endblock%}

{% block content %} 
    
        <div class="container-fluid bg-secondary">
            <div class="row "><h1>Money spent this year</h1></div>
            <div class="row">
                <div class="col">
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Item name</th>
                                <th scope="col">Item description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Time the item was bought</th>
                                <th scope="col">user</th>
                                <th scope="col">Delete the item</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                    <tr>
                                        <th scope="row">{{item.id}}</th>
                                        <td>{{item.name}}</td>
                                        <td>{{item.description}}</td>
                                        <td>{{item.price}} kč</td>
                                        <td>{{item.time_it_was_bought}}</td>
                                        <td>{{item.user}}</td>
                                        <td><a href="{% url 'delete_item' item_id=item.id %}">Delete</a></td> 
                                    </tr>
                            {% endfor %}
                            </tbody>
                    </table>
                </div>
                <div class="col-md-auto">
                    <table class="table table-dark table-striped">
                        <thead>
                            <th scope="col">Summary of the items</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Celková cena {{sum_price}} Kč</td>
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
            
{% endblock %}