{% extends "base.html"%}

{% block title%}Profile{%endblock%}

{% block content %} 
<div class="container-fluid d-grid">
    <div class="row text-center bg-dark text-warning"><h1>Your profile</h1></div>
    <div class="row justify-content-center h-100">
        <div class="col-md-10 bg-dark text-warning">
            <h3 class="mt-3">Username: {{ request.user.username }}</h3>
            <h3 class="mt-3">First name: {{ request.user.first_name}}</h3>
            <h3 class="mt-3">Surname: {{ request.user.last_name}}</h3>
            <h3 class="mt-3">E-mail address: {{ request.user.email}}</h3>
            
            <button type="submit" class="btn btn-warning mb-3 mt-3" action="edit_profile"><a class="link-dark text-decoration-none"href="{% url 'profile_update' id=request.user.id %}">Update info</a></button>
            
        </div>
    </div>
</div>


{% endblock %}