{% extends "base.html" %}
{% block title %}Standing orders{% endblock %}
{% block content %}
<div class="container-fluid bg-dark">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-warning text-center">Standing orders</h1>
    </div>
  </div>
</div>
<div class="container-fluid d-grid gap-1 mt-3 mb-3">
    
    <div class="row">
        <div class="col-md-9 bg-warning d-grid gap-1"> 
          <div class="card-group">

            {% for order in standing_order %}
              <div class="col-md-4">
                  <div class="card bg-dark text-warning h-100 rounded-0 border-warning">
                    <div class="card-header bg-transparent border-secondary"><h3 class="card-title">{{order.name}}</h3></div>
                    <div class="card-body p-3">
                      <p class="card-text">Description: {{order.description}}</p>
                      <p class="card-text">Importance: <span class="badge badge-secondary bg-danger text-dark">{{order.type}}</span></p>
                      <h5>{{order.price}} kč</h5>
                    </div>
                    <div class="card-footer bg-transparent border-secondary"> 
                      <button class="btn btn-danger mt-1"><a class="link-dark text-decoration-none"href="{% url 'delete_order' id=order.id %}">DELETE</a></button>
                      <button class="btn btn-warning mt-1"><a class="link-dark text-decoration-none"href="{% url 'update_order' id=order.id %}">UPDATE INFO</a></button>
                    </div>
                  </div>
              </div>
            {% endfor%}
          
          </div>
        </div>
        <div class="col-md-3 bg-warning">
            <div class="card card-body bg-dark text-white rounded-0">
                <form method="post" class="form-group">
                  
                    {% csrf_token %}
                    {%for field in form %}
                    <div class="text-warning">{{field.label}}</div>
                    <div class="">{{field}}</div>                    
                    {% endfor %}
                    <br>
                    <button type="submit" class="btn btn-warning mt-3">Place standing order</button>
                </form>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}